.container {
    width: 70%;
    margin: 50px auto;
}

.menu {
    display: inline-block;
    float: right;
    width:25%;
    margin: auto;
}

.menu a {
    display: inline-block;
    float: right;
    margin: 10px;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
    z-index: 10;
}

.drop-btn {
    cursor: pointer;
    border: 1px solid DimGrey;
    background: transparent;
    border-radius: 25px;
}

.drop-btn:hover {
  background-color: rgba(202, 208, 183, 1);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(202, 208, 183, 1);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 10pt;
}

.dropdown-content a:hover {
    background-color: rgba(214, 215, 210, 1)
}

.show {
    display:block;
}